* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: auto;
  padding: 20px;
  margin: 20px;
}

.card h2 {
  margin-bottom: 15px;
  color: #007bff;
  text-align: center;
}

.input_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input_container label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input_container input {
  padding: 10px;
  border: 1px solid #4d96ea;
  border-radius: 4px;
  font-size: 16px;
}

.input_container input:focus {
  border-color: #2304e9;
  outline: none;
}

.elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.elements label {
  font-size: 14px;
}

.elements input[type="checkbox"] {
  margin-right: 5px;
}
.elements a {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.card button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.hr {
  width: 100%;
  height: 1px;
  border: 1px solid black;
}

.or {
    text-align: center;
    position: relative;
   
}

.or span {
    background-color: rgb(227, 221, 221);
    padding: 0 20px;
    position: relative;
    top: 13px;
    border-radius: 15px;
    font-weight: bold;
}

.sign {
    text-align: center;
    margin-top: 20px;
}

.sign a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.sign a:hover {
    text-decoration: underline;
}

.sign_up {
  display: none;
}


